.header {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #CCC;
}

.content {
  width: 100%;
}

.section-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #CCC;
  padding: 132px 30px;
  background-color: #6819931a;
}

.section-banner>.banner--content {
  display: flex;
  flex-direction: row;
  gap: 70px;
  max-width: 1300px;
}

.banner--content>.banner--description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner--description>.description--title {
  color: #121214;
  font-family: 'Montserrat';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description--title>span {
  color: #681993;
}

.description--title>span:first-child {
  font-style: italic;
}

.banner--description>.description--subtitle {
  color: #2E3135;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 204.3%;
  opacity: 0.72;
}

.banner--description>.description--text {
  color: #2E3135;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 204.3%;
}

.section-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F9F2F9;
}

.section-description>.description--scroll-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 0;
}

.section-description>.description--content {
  max-width: 1300px;
}

.content--description {
  display: flex;
  flex-direction: column;
}

.content--description>* {
  text-align: center;
}


.content--description>.description--title {
  color: #681993;
  text-align: center;
  font-family: 'Poppins';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}

.content--description>.description--subtitle {
  color: #121214;
  text-align: center;
  font-family: 'Poppins';
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.content--description>.description--content {
  color: #121214;
  text-align: center;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  margin-bottom: 48px;
}

.content--description>.description--content:last-child {
  margin-bottom: 93px;
}

.description--content>.content--images {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-bottom: 48px;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 80px;
}

@media (max-width: 1200px) {
  .section-banner>.banner--content {
    flex-direction: column;
  }
  .content--description>.description--content {
    max-width: 100%;
    font-size: 18px;
  }
  .description--content>.content--images {
    display: flex;
    justify-content: center;
    max-width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer {
    max-width: 100%;
  }

  .banner--image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner--image > img {
    width: 60%;
    height: auto;
  }

  .content--images > * {
    width: 30%;
    height: auto;
  }
  .content--images > :first-child {
    width: 15%
  }
  .banner--description {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-banner {
    padding: 30px;
  }

  .banner--description>.description--title {
    font-size: 43.2px;
  }

  .banner--description>.description--subtitle {
    font-size: 18px;
  }

  .h2 {
    font-size: 0.15em;
  }

  .banner--description>.description--text {
    font-size: 18px;
  }

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  
}

@media (max-width: 480px) {

}
